.App {
  text-align: center;
  margin-left: 5%;
}

.googledetails{
  margin-left: 48%;  
}
.detail{
  margin-top: 10px;
  margin-left: 42%;
  margin-bottom: 30px;
  font-size: xx-large;
}

.scrolls{
  max-height: 100px;
  overflow-y: scroll;
}